<!DOCTYPE HTML>
<html>

<head>
<!-- meta info -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>arxiv-sanity</title>
<!-- CSS -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<!-- Favicon -->
<link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}" />

{% block variables %}
{% endblock %}

</head>

<body>
<div id="header">
    <a href="/">arxiv-sanity</a>
    <a href="/profile" id="login-link">
        {{ user if user else 'login' }}
    </a>
</div>

{% block content %}
{% endblock %}

<!-- React -->
<script src="https://unpkg.com/react@16/umd/react.production.min.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js" crossorigin></script>
<!-- Babel for displaying JSX -->
<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
<!-- Load our React component -->
{% block elements %}
{% endblock %}

</body>
</html>
