{% extends "base.html" %}

{% block variables %}
{% endblock %}

{% block content %}
<div id="statswrap">

    <div><b>Current index:</b></div>
    <div>Number of papers total: {{ num_papers }}</div>
    <div>Earliest paper: {{ earliest_paper }}</div>
    <div>Latest paper: {{ latest_paper }}</div>

    <br>

    <!-- thresholds are [1, 6, 12, 24, 48, 72, 96] -->
    <div><b>New paper counts flow:</b></div>
    <div>Number of new papers in the last 1 hour : {{ thr_1 }}</div>
    <div>Number of new papers in the last 6 hours: {{ thr_6 }}</div>
    <div>Number of new papers in the last 12 hours: {{ thr_12 }}</div>
    <div>Number of new papers in the last 24 hours: {{ thr_24 }}</div>
    <div>Number of new papers in the last 48 hours: {{ thr_48 }}</div>
    <div>Number of new papers in the last 72 hours: {{ thr_72 }}</div>
    <div>Number of new papers in the last 96 hours: {{ thr_96 }}</div>

</div>
{% endblock %}

{% block elements %}
{% endblock %}
